::ng-deep .small-icon-button {
    width: auto !important;
    height: 32px !important;
    line-height: 32px !important;
 
    .mat-icon {
       width: 16px !important;
       height: 16px !important;
       line-height: 16px !important;
    }
    .material-icons {
       font-size: 16px !important;
    }
 }
 .info {
    padding: 10px;
    border: 1px solid #0c1c44;
    background-color: #0c1c44 !important;
    color: #fff !important;
    margin-top: -10px;
  }

  td {
     margin-top: 0px !important;
  }