.info {
  padding: 10px;
  border: 1px solid #0c1c44;
  background-color: #0c1c44 !important;
  color: #fff !important;
  margin-top: -10px;
}
.box_info {
  margin-top: 7px !important;
  border-left: 3px solid #0c1c44;
  background-color: #ececec;
  padding: 10px;
  color: #000 !important;
}

.top-30 {
  margin-top: -44px !important;
}

.dashboard-stat:last-child {
  margin-bottom: 0;
}
.green {
  background-color: #0c1c44;
}
.widget-thumb-body-stat{
  margin-top: -5px !important;
}
.dashboard-stat {
  display: block;
  padding-left: 10px;
  padding-right: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;  
  margin-bottom: -20px;
  overflow: hidden;
  color: #fff !important;
  font-weight: bold;
  border-radius: 0px !important;
  width: 100% !important;
  font-size: 9.5pt !important;
  text-align: left !important;
}
.btn-circle {
  overflow: hidden;
}

.red {
  background-color: #f0702c;
}
.blue {
  background-color: #0c1c44;
}
.font-white {
  color: #fff !important;;
}
.purple {
  background-color: #1d2444;
}
.cyan {
  background-color: #4c4c64;
}
.table {
  margin-top: -25px !important;
}
th{
  font-size: 10.8pt !important;
  color:#0c1c44;
}

.info-new {
  border: 1px solid red;
  background-color: #ebebee !important;
  height: 120px !important;
}
.mat-table {
  overflow-x: scroll;
}
.left-13 {
  margin-left: 13px !important;
}

mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 50% !important;
  max-width: 50% !important;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: hidden;
  margin-right: 10px;
  margin-top: -40px !important;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

.table-responsive:hover{
  overflow-x: auto !important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: rgba(92, 119, 255, 1);
  /* background-color: rgba(var(--color-primary), 1); */
}