<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">General Settings</h2>
        </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <mat-tab-group [@.disabled]="true">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Default Settings
                    </ng-template><br>
                    <div>
                        <div>
                            Please enter default values. This default values will be used if there are no value specified at product level
                        </div><br>
                        <div class="example-container">
                            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Weight (lb)</mat-label>
                            <input matInput #input maxlength="10" placeholder="Weight (lb)">
                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Weight (Kg)</mat-label>
                            <input matInput #input maxlength="10" placeholder="Weight (Kg)">
                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Length</mat-label>
                            <input matInput #input maxlength="10" placeholder="Length">
                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            
                            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Width</mat-label>
                            <input matInput #input maxlength="10" placeholder="Width">
                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                            <mat-label>Depth/Height</mat-label>
                            <input matInput #input maxlength="10" placeholder="Depth/Height">
                            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                            <mat-form-field appearance="fill">
                            <mat-label>Dimension Unit</mat-label>
                            <mat-select>
                                <mat-option value="cm">Centimeters (cm)</mat-option>
                                <mat-option value="m">Meters (m)</mat-option>
                                <mat-option value="inch">Inches (inch)</mat-option>
                            </mat-select>
                            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                       Tax
                    </ng-template><br>
                    <div style="display: flex;justify-content: space-between;" class="border-b py-1 px-2" fxLayout="row" fxLayoutAlign="start center">
                      <p>Purchase Orders</p>
                      <button style="background-color: blue; color: white;" mat-raised-button class="mr-4 font-10">
                        New 
                      </button>
                    </div>
                    <mat-form-field appearance="standard" style="width: 140px !important; margin-right: 6px !important; margin-left: 27px !important;" fxFlex="none">
                        <mat-label>Search By</mat-label>
                        <mat-select>
                          <mat-option value="SKU">SKU</mat-option>
                          <mat-option value="Channel">Channel</mat-option>
                          <mat-option value="Title">Title</mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" style="width: 250px !important; margin-right: 6px !important;" class="vex-flex-form-field" color="warn">
                        <mat-label>Enter value to search</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button class="mt-3" color="primary" mat-raised-button type="button">
                        <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
                    </button>
                    <br>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort style="width: 100% !important;">
        
                                <ng-container *ngFor="let column of columns">
                                    <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                        <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                    </ng-container>
                                </ng-container>
        
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                      <div >
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button"><mat-icon color="text-secondary" [icIcon]="icEdit"></mat-icon>
                                        </button>
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button"><mat-icon color="text-secondary" [icIcon]="icRemove"></mat-icon>
                                        </button>
                                      </div>
                                    </td>
                                </ng-container>
                    
                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Currency
                    </ng-template>
                    <div style="display: flex;justify-content: space-between;" class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
                        <h2 class="m-0 title" fxFlex="auto">Please Select a Default Currency</h2>
                        <!-- <mat-label>Search By</mat-label> -->
                        <mat-form-field appearance="standard" style="width: 240px !important; margin-right: 6px !important; margin-left: 7px !important;" fxFlex="none">
                            <mat-label>Select Currency</mat-label>
                            <mat-select>
                                <mat-option value="USD">USD</mat-option>
                                <mat-option value="USD">USD</mat-option>
                                <mat-option value="GBP">GBP</mat-option>
                                <mat-option value="CAD">CAD</mat-option>
                                <mat-option value="EUR">EUR</mat-option>
                                <mat-option value="CNY">CNY</mat-option>
                                <mat-option value="INR">INR</mat-option>
                                <mat-option value="AUD">AUD</mat-option>
                                <mat-option value="SGD">SGD</mat-option>
                                <mat-option value="THB">THB</mat-option>
                                <mat-option value="MYR">MYR</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button style="background-color: #0c1c44; color: white;" mat-raised-button class="mr-4 font-10">
                           Save
                        </button>
                      </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Orders
                    </ng-template>
                    <div><br>
                        <div class="table-responsive">
                          
                            <table [dataSource]="dataSource_1" class="top-30 left-13" mat-table matSort>
                            
                            
                            <ng-container *ngFor="let column1 of columns_new">
                                <ng-container *ngIf="column1.type === 'text'" [matColumnDef]="column1.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column1.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column1.property] }}</td>
                                </ng-container>
                            </ng-container>
        
                            <ng-container matColumnDef="action">
                              <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                              <td *matCellDef="let row" mat-cell>
                                <div>
                                  <button class="mr-4 font-10" 
                                      color="primary"
                                      mat-raised-button
                                      type="button"><mat-icon color="text-secondary" [icIcon]="icCheck"></mat-icon>Save
                                  </button>
                                </div>
                              </td>
                          </ng-container>
                    
                                <tr *matHeaderRowDef="visibleColumns_new; sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns_new;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>