<div class="card">
    <mat-tab-group>
      <mat-tab label="Orders Summary">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Sales Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="MCF Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Shipped Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Returned Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Cancelled Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Manage Return">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
    </mat-tab-group>
  </div>
<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6 bg-sellershub" fxLayout="row" fxLayoutAlign="start center">
            <div class='content'>
                <div class='column'>
                  <div class='row' style="width: 250px !important;">
                    <h2 class="m-6 title" fxFlex="auto">Sales Orders</h2>
                  </div>
                </div>
                <div class='column'>
                  <div class='row'>
                     <button color="secondary" class="mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icMoney"></mat-icon>
                      </button>
                      
                      <button color="secondary" class="mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icProcess"></mat-icon>
                      </button>
            
                      <button color="secondary" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icMail"></mat-icon>
                      </button>

                      <button class="small-icon-button mr-4 font-10" [matMenuTriggerFor]="addNewMenu"
                                color="primary"
                                mat-raised-button
                                type="button"><mat-icon [icIcon]="icPrint"></mat-icon> Print Invoice
                    </button>
            
                    <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
                            <button mat-menu-item>
                                <span>Print Default</span>
                            </button>
                        
                            <button mat-menu-item>
                                <span>Print 4x6</span>
                            </button>
                        
                            <button mat-menu-item>
                                <span>Print Invoice &amp; Label</span>
                            </button>
                    </mat-menu>
            
                    <button color="secondary" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icTruck"></mat-icon>
                    </button>
                    <button color="secondary" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icRemove"></mat-icon>
                    </button>

                    <button class="small-icon-button mr-4 font-10" [matMenuTriggerFor]="addNewMenuPrint"
                                color="primary"
                                mat-raised-button
                                type="button"><mat-icon [icIcon]="icPrint"></mat-icon> Print Labels
                    </button>
                    <mat-menu #addNewMenuPrint="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
                            <button mat-menu-item>
                                <span>Default Labels</span>
                            </button>
                        
                            <button mat-menu-item>
                                <span>Via DPD</span>
                            </button>
                        
                            <button mat-menu-item>
                                <span>Via Royal Mail</span>
                            </button>
            
                            <button mat-menu-item>
                                <span>Via Shipstation</span>
                            </button>
            
                            <button mat-menu-item>
                                <span>Via DX</span>
                            </button>
            
                            <button mat-menu-item>
                                <span>Via RM Click & Drop</span>
                            </button>
            
                            <button mat-menu-item>
                                <span>Via Yodel</span>
                            </button>
            
                            <button mat-menu-item>
                                <span>Via Goshippo</span>
                            </button>
                    </mat-menu>
                        
                    <a color="secondary" (click)="openPicklistModal()" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icList"></mat-icon>
                    </a>
                    <a color="secondary" (click)="openPacklistModal()" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icCube"></mat-icon>
                    </a>
                    <button (click)="openExportCSVModal()" color="secondary" class="mr-4 font-10" mat-mini-fab type="button">
                        <mat-icon class="text-warn" [icIcon]="icExcel"></mat-icon>
                    </button>
                    
                    <div class="mt-5">
                        <button color="secondary" mat-raised-button class="small-icon-button mr-4 font-10">
                            Fulfillment
                        </button>
            
                        <button (click)="openDispatchModal()" color="secondary" mat-raised-button class="small-icon-button mr-4 font-10">
                            Despatch Console
                        </button>
            
                        <button (click)="openCreateorderModal()" color="secondary" mat-raised-button class="small-icon-button mr-4 font-10">
                            Create Order
                        </button>
            
                        <button  color="secondary" mat-raised-button class="small-icon-button mr-4-right font-10">
                            <mat-icon class="text-warn" [icIcon]="icDownload"></mat-icon> Download Orders
                        </button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      
        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="margin-top: 5px !important;">
            <div class='content'>
                <div class='column'>
                  <div class='row'>
                    <mat-form-field appearance="standard" style="width: 140px !important; margin-right: 6px !important; margin-left: 27px !important;" fxFlex="none">
                        <mat-label>Filter By</mat-label>
                        <mat-select>
                            <mat-option value="1">Pending Orders</mat-option>
                            <mat-option value="2">Unshipped Orders</mat-option>
                            <mat-option value="3">Prime Orders</mat-option>
                            <mat-option value="4">Printed Invoices</mat-option>
                            <mat-option value="5">Non Printed Invoices</mat-option>
                            <mat-option value="6">In Stock Orders</mat-option>
                            <mat-option value="7">Out Of Stock Orders</mat-option>
                            <mat-option value="9">Processed Orders</mat-option>
                            <mat-option value="0">Non Processed Orders</mat-option>
                            <mat-option value="10">Printed Labels</mat-option>
                            <mat-option value="11">Non Printed Labels</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="standard" style="width: 250px !important; margin-right: 6px !important;" class="vex-flex-form-field" color="warn">
                        <mat-label>Filter By Channel</mat-label>
                        <mat-select>
                        <mat-option value="all">Filter By Channel : All</mat-option>
                        <mat-option value="5799">ioffer -Ioffer Default Template</mat-option>
                        <mat-option value="5826">ebay -de_875953</mat-option>
                        <mat-option value="5827">opencart -enter name</mat-option>
                        <mat-option value="5828">magento -enter name</mat-option>
                        <mat-option value="5829">volusion -Volusion Account</mat-option>
                        <mat-option value="5830">prestashop -Prestashop Account</mat-option>
                        <mat-option value="5831">shopify -enter name</mat-option>
                        <mat-option value="5835">ebay -TEST_CRAFT</mat-option>
                        <mat-option value="5841">telesale -Telesales</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="standard" style="width: 140px !important; margin-right: 6px !important; margin-left: 27px !important;" fxFlex="none">
                        <mat-label>Shipping Country</mat-label>
                        <mat-select>
                            <mat-option value="">Select</mat-option>
                            <mat-option value="United Kingdom">United Kingdom</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="standard" style="width: 180px !important; margin-right: 9px !important; margin-left: 27px !important;" fxFlex="none">
                        <mat-label>Shipping Methods</mat-label>
                        <mat-select>
                            <mat-option value="1.50 test">1.50 test</mat-option>
                            <mat-option value="1VP ">1VP </mat-option>
                            <mat-option value="BPL1">BPL1</mat-option>
                            <mat-option value="CRL48">CRL48</mat-option>
                            <mat-option value="DPD">DPD</mat-option>
                            <mat-option value="DPD NEXT DAY">DPD NEXT DAY</mat-option>
                            <mat-option value="OLP1">OLP1</mat-option>
                            <mat-option value="royal mail">royal mail</mat-option>
                            <mat-option value="SD3OLP">SD3OLP</mat-option>
                            <mat-option value="UK_RoyalMailSecondClassStandard">UK_RoyalMailSecondClassStandard</mat-option>
                            <mat-option value="UK_RoyalMailSecondClassStandard_f">UK_RoyalMailSecondClassStandard_f</mat-option>
                            <mat-option value="UK_RoyalMailSpecialDeliveryNextDay">UK_RoyalMailSpecialDeliveryNextDay</mat-option>
                            <mat-option value="Yodel">Yodel</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-slide-toggle [checked]="false" color="warn">Show Orders</mat-slide-toggle>
                  </div>
                </div>
            </div> 
             
            <div class='content'>
                <div class='column'>
                  <div class='row'>
                    <mat-form-field appearance="standard" style="width: 160px !important; margin-left: 27px !important; margin-right: 10px !important;">
                        <mat-label>From</mat-label>
                        <input [matDatepicker]="datepickerRef" matInput>
                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" style="width: 160px !important;">
                        <mat-label>To</mat-label>
                        <input [matDatepicker]="datepickerRefTo" matInput>
                        <mat-datepicker-toggle [for]="datepickerRefTo" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRefTo></mat-datepicker>
                    </mat-form-field>

                    <button color="primary" mat-raised-button class="small-icon-button" type="button" style="margin-left: 10px !important; margin-right: 6px !important;">
                        <mat-icon color="text-secondary" [icIcon]="icRefresh"></mat-icon>
                    </button>
                    <button class="mt-3" color="primary" class="small-icon-button" mat-raised-button type="button" style="margin-right: 6px !important;">
                        <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
                    </button>

                    <mat-form-field appearance="standard" style="width: 140px !important; margin-right: 6px !important;" fxFlex="none">
                        <mat-label>Search By</mat-label>
                        <mat-select>
                            <mat-option value="1">SKU</mat-option>
                            <mat-option value="2">Order ID</mat-option>
                            <mat-option value="3">Channel</mat-option>
                            <mat-option value="4">Item Id</mat-option>
                            <mat-option value="5">Customer</mat-option>
                            <mat-option value="6">Post Code</mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field appearance="standard" style="width: 180px !important; margin-right: 6px !important;" class="vex-flex-form-field" color="warn">
                        <mat-label>Enter value to search</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button class="small-icon-button mt-3" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                        <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
                    </button>

                    <mat-form-field appearance="standard" style="width: 140px !important; margin-right: 6px !important;" fxFlex="none">
                        <mat-label>Sort By</mat-label>
                        <mat-select>
                            <mat-option value="0">Sort By</mat-option>
                            <mat-option value="1">SKU Ascending</mat-option>
                            <mat-option value="2">SKU Descending</mat-option>
                            <mat-option value="3">Price low to high</mat-option>
                            <mat-option value="4">Price High to low</mat-option>
                            <mat-option value="5">Title A-Z</mat-option>
                            <mat-option value="6">Title Z-A</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                </div>
            </div>
                
            
            
            
            <div>
                <div class="table-responsive">
                    <table [dataSource]="dataSource" class="w-full top-30" mat-table matSort>
                        
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <th *matHeaderCellDef mat-header-cell class="bg-sellershub pl-20">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            color="primary">
                            </mat-checkbox>
                            </th>
                            <td *matCellDef="let row" class="w-4 pl-20" mat-cell>
                            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                            (click)="$event.stopPropagation()"
                                            [checked]="selection.isSelected(row)"
                                            color="primary">
                            </mat-checkbox>
                            </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="order_date_new">
                            <th *matHeaderCellDef mat-header-cell class="bg-sellershub">ORDER DATE</th>
                            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                                {{ row['order_tgl'] }}<br />
                                {{ row['order_time'] }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="order_id">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">ORDER ID</th>
                            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                                {{ row['order_id_temp'] }}<br />
                                <div class="rounded px-2 py-1 font-medium text-xs bg-green-light">{{ row['order_status'] }}</div><br />
                                <div class="content">
                                    <div class="column">
                                        <div class="row">
                                            <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubebay.png" style="width: 80px;" />
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="row">
                                            <img src="https://s3-us-west-1.amazonaws.com/khubweb/web/kartzhubemailicon.png" style="width: 20px;" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        

                        <ng-container matColumnDef="product_name">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">PRODUCT</th>
                            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell style="width: 20px !important;">
                                <a  (click)="openChannelproductModal()">
                                    {{ row['sku'] }}<br />
                                    {{ row['item_id'] }}<br />
                                    {{ row['product_name'] }}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container *ngFor="let column of columns">
                            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header colspan="bg-sellershub"> {{ column.label }}</th>
                                <td *matCellDef="let row" mat-cell>{{ row[column.property] }}</td>
                            </ng-container>
                        </ng-container>

                        <ng-container matColumnDef="ship_name">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">SHIPPED ADDRESS</th>
                            <td *matCellDef="let row" mat-cell>
                              {{ row['ship_name'] }}<br />
                              {{ row['ship_email'] }}<br />
                              {{ row['ship_address'] }}<br />
                              {{ row['ship_code'] }}<br />
                              {{ row['ship_country'] }}<br />
                              <button color="secondary" class="small-icon-button mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                                <mat-icon class="text-grey" [icIcon]="icfaPrint"></mat-icon>
                              </button>   
                              <button color="secondary" class="mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                                <mat-icon class="text-grey" [icIcon]="icChip"></mat-icon>
                              </button>   
                              <button color="secondary" class="mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                                <mat-icon class="text-green" [icIcon]="icMoney"></mat-icon>
                              </button>   
                              <button color="secondary" class="mr-4 font-10" matTooltip="Favorite this" mat-mini-fab type="button">
                                <mat-icon class="text-green" [icIcon]="icGift"></mat-icon>
                              </button>                          
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="qty">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">QTY</th>
                            <td *matCellDef="let row" mat-cell>
                              <div class="flex">
                                <a class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-white bg-red"
                                   mat-icon-button>
                                  {{ row['qty'] }}
                                </a>
                              </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="notes">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">NOTES</th>
                            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                                <div class="content">
                                    <div class="column">
                                        <div class="row">
                                            <a (click)="openCommentShowModal()">Click for more</a><br>
                                           <a (click)="openCommentCreateModal()"> <img src="https://khubweb.s3-us-west-1.amazonaws.com/web/kartzhubediticon.png"/></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header class="bg-sellershub">ACTION</th>
                            <td *matCellDef="let row" mat-cell>
                              <div class="flex">
                                <button class="small-icon-button mr-4 font-10" [matMenuTriggerFor]="addNewMenuPrint"
                                    color="primary"
                                    mat-raised-button
                                    type="button">Action <mat-icon [icIcon]="icArrowRight"></mat-icon>
                                </button>
                                    <mat-menu #addNewMenuPrint="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
                                            <a routerLink="/apps/create-orders" mat-menu-item>
                                                <span>Edit Order</span>
                                            </a>
                                        
                                            <a (click)="openSendMailModal()" mat-menu-item>
                                                <span>Send Email</span>
                                            </a>
                                        
                                            <button mat-menu-item>
                                                <span>Remove Order</span>
                                            </button>
                            
                                            <button mat-menu-item>
                                                <span>Via Shipstation</span>
                                            </button>
                            
                                            <button mat-menu-item>
                                                <span>Print Invoice</span>
                                            </button>
                            
                                            <button mat-menu-item>
                                                <span>Ready to Ship</span>
                                            </button>
                            
                                            <button mat-menu-item>
                                                <span>Cancel Order</span>
                                            </button>
                                    </mat-menu>
                              </div>
                            </td>
                        </ng-container>
                        
            
                        <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: visibleColumns;"
                            @fadeInUp stagger60ms
                            class="hover:bg-hover trans-ease-out cursor-pointer"
                            mat-row></tr>
            
                    </table>
                </div>
                <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
            </div>
        </div>
    </div>
</div>