<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Please select a subscription plan according to your product catalog size and orders per month</h2>
          <button class="float-right small-icon-button" (click)="goBack()" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
            <mat-icon color="text-secondary" [icIcon]="icBack"></mat-icon> Back
          </button>  
        </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <table>
                <tr>
                    <td>
                        <div class="bg-business text-primary-contrast p-gutter text-center" fxFlex="300px" fxFlex.lt-md="auto">
                            <h2 class="headline mb-4 text-center font-15">Business</h2>
                        
                            <div class="flex items-center justify-center">
                              <ic-icon [icon]="icStars" size="48px"></ic-icon>
                            </div>
                            <br />
                        
                            <div class="body-1"><span class="body-2">Upto</span> 5 User</div>
                            <div class="body-1"><span class="body-2">Upto</span> 6000 SKU</div>
                            <div class="body-1"><span class="body-2">5000 Orders </span>a month</div>
                            <div class="body-1"><span class="body-2">Upto </span>5 channels (e.g eBay,Amazon, Shopify)</div>
                            <div class="body-1"><span class="body-2">Charge for each additional channel </span>USD20</div>
                            <div class="body-1"><span class="body-2">Upto </span>5 Users</div>
                            <div class="body-1"><span class="body-2">Upto </span>5 channel integrations</div>
                        
                            <h3 class="display-2 font-bold my-6" style="color: #0c1c44;">109<span class="text-secondary headline align-top">USD</span></h3>
                            Per Month
                            <br /><br />
                            <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">Purchase</button>
                        </div>
                    </td>

                    <td>
                        <div class="bg-professional text-primary-contrast p-gutter text-center" fxFlex="300px" fxFlex.lt-md="auto">
                            <h2 class="headline mb-4 text-center font-15">Professional</h2>
                        
                            <div class="flex items-center justify-center">
                              <ic-icon [icon]="icBeenhere" size="48px"></ic-icon>
                            </div>
                            <br />
                            <div class="body-1"><span class="body-2">Upto</span> 10 User</div>
                            <div class="body-1"><span class="body-2">Upto </span>12000 SKU</div>
                            <div class="body-1"><span class="body-2">10000 Orders </span>a month</div>
                            <div class="body-1"><span class="body-2">Upto </span>8 channels (e.g eBay,Amazon, Shopify)</div>
                            <div class="body-1"><span class="body-2">Charge for each additional channel </span>USD20</div>
                            <div class="body-1"><span class="body-2">Upto </span>10 users</div>
                            <div class="body-1"><span class="body-2">Upto </span>8 channel integrations</div>
                            
                            <h3 class="display-2 font-bold my-6">179<span class="text-secondary headline align-top" style="color: #FFFFFF;">USD</span></h3>
                            Per Month
                            
                            <br /><br />
                            <button class="rounded-full max-w-full w-200" color="warn" mat-raised-button type="button">Purchase</button>
                        </div>
                    </td>

                    <td>
                        <div class="bg-us text-primary-contrast p-gutter text-center" fxFlex="300px" fxFlex.lt-md="auto">
                            <h2 class="headline mb-4 text-center font-15">SellersHub US Corporate Plan</h2>
                        
                            <div class="flex items-center justify-center">
                                <ic-icon [icon]="icBusinessCenter" size="48px"></ic-icon>
                            </div>
                            <br />
                            <div class="body-1"><span class="body-2">Upto</span> 10 User</div>
                            <div class="body-1"><span class="body-2">Upto</span>50000 SKU</div>
                            <div class="body-1"><span class="body-2">12000 Orders</span> a month</div>
                            <div class="body-1"><span class="body-2">Upto</span> 50 channels (e.g eBay,Amazon, Shopify)</div>
                            <div class="body-1"><span class="body-2">Upto</span>Charge for each additional channel USD0</div>
                            <div class="body-1"><span class="body-2">Unlimited</span>SKU's</div>
                            <div class="body-1"><span class="body-2">Unlimited</span>Channel Integrations</div>
                        
                            <h3 class="display-2 font-bold my-6" style="color: #0c1c44;">250<span class="text-secondary headline align-top">USD</span></h3>
                            Per Month
                        
                            <br /><br />
                            <button class="rounded-full max-w-full w-200" color="ancent" mat-raised-button type="button">Purchase</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>