<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="favicon.png">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">SellersHub.io</h1>
  </a>

  <a color="primary">Your FREE trial is due to expire in 7 days</a>

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <button mat-menu-item>
      <mat-icon [icIcon]="icPersonAdd"></mat-icon>
      <span>Add Contact</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
      <span>Add Task</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignmentTurnedIn"></mat-icon>
      <span>Add Project</span>
    </button>

    <button [matMenuTriggerFor]="documentMenu" mat-menu-item>
      <mat-icon [icIcon]="icBallot"></mat-icon>
      <span>Add Document</span>
    </button>
  </mat-menu>

  <mat-menu #documentMenu="matMenu">
    <button mat-menu-item>
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>Add Quote</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>Add Invoice</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icReceipt"></mat-icon>
      <span>Add Receipt</span>
    </button>
  </mat-menu>

  <div #megaMenuOriginRef class="ltr:ml-2 rtl:mr-2">
    <button class="button-text" *ngIf="isHorizontalLayout$ | async"
            [fxHide]="mobileQuery"
            (click)="openMegaMenu(megaMenuOriginRef)"
            color="primary"
            mat-button
            type="button">Subscribe
      <ic-icon [icon]="icArrowLeft" class="ltr:-mr-1 rtl:-ml-1" inline="true"></ic-icon>
    </button>
  </div>


  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    
    <div class="px-1 mr-30">
      <button mat-icon-button type="button" (click)="gotoWhatsapp()">
        <mat-icon [icIcon]="icInfo"></mat-icon> What's New
      </button>
    </div>

    <div class="px-1">
      <button mat-icon-button type="button" (click)="gotoMessageCenter()">
        <mat-icon [icIcon]="icMail"></mat-icon>
      </button>
    </div>

    <div class="px-1 mr-10">
      <button mat-icon-button type="button" [matMenuTriggerFor]="addNewMenuSupport">
        <mat-icon [icIcon]="icSupport"></mat-icon> Support
      </button>
    </div>
    <mat-menu #addNewMenuSupport="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
      <button type="button" (click)="gotoKnowledge()" mat-menu-item target="_blank">
          <mat-icon [icIcon]="icDescription"></mat-icon>
          <span>Knowledge Base</span>
      </button>
  
      <button mat-menu-item (click)="openModalTicket()">
          <mat-icon [icIcon]="icTicket"></mat-icon>
          <span>Create Ticket</span>
      </button>
  
      <button mat-menu-item (click)="openModalSupport()">
          <mat-icon [icIcon]="icPhone" class="font-11"></mat-icon>
          <span>Phone Support</span>
      </button>
    </mat-menu>

    <div class="px-1">
      
    </div>



    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>

    
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async" [fxHide]="mobileQuery"></vex-navigation>
