<div class="p-gutter" vexContainer>
    <div class="card">
        <div style="display: flex;justify-content: space-between;" class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Purchase Orders</h2>
          <button style="background-color: blue; color: white;" mat-raised-button class="mr-4 font-10">
            <mat-icon [icIcon]="icCheck"></mat-icon> Create Purchase Order
          </button>
        </div>
        <!-- <div class="column">
            <div class="row">
                <div class='column'>
                    <div class='row'>
                        <button color="secondary" mat-raised-button class="mr-4 font-10">
                            <span><mat-icon color="text-secondary" [icIcon]="icCheck"></mat-icon></span>Create Purchase Order
                      </button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="margin-top: 5px !important;">
            <mat-form-field appearance="standard" style="width: 250px !important; margin-left: 27px !important; margin-right: 6px !important;" class="vex-flex-form-field" color="warn">
                <mat-label>SKU or Product Title</mat-label>
                <input matInput>
            </mat-form-field>
            <button class="mt-3" color="primary" mat-raised-button type="button" style="margin-right: 10px !important;">
                <mat-icon color="text-secondary" [icIcon]="icSearch"></mat-icon>
            </button>

            <button class="rounded-tr rounded-br mt-3" color="primary" mat-raised-button type="button" style="margin-right: 6px !important;">
                Download <mat-icon color="text-secondary" [icIcon]="icDownload"></mat-icon>
            </button><br>
            <mat-tab-group [@.disabled]="true">
                <mat-tab>
                    <ng-template mat-tab-label>
                        ALL
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                      <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                      </div>
                                    </td>
                                </ng-container>
                    
                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Pending
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>
                    
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                      <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                      </div>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Ordering
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>
                    
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                    <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                    </div>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Shipping
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>
                    
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                    <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                    </div>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Receiving
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>
                    
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                    <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                    </div>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Completed
                    </ng-template>
                    <div>
                        <div class="table-responsive">
                            <table [dataSource]="dataSource" class="top-30 left-13" mat-table matSort>
                                
                                <ng-container *ngFor="let column of columns">
                                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                    <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                                </ng-container>
                                </ng-container>
                    
                                <ng-container matColumnDef="action">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                                    <td *matCellDef="let row" mat-cell>
                                    <div class="flex">
                                        <button class="mr-4 font-10" 
                                            color="primary"
                                            mat-raised-button
                                            type="button">Action
                                        </button>
                                    </div>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: visibleColumns;"
                                    @fadeInUp stagger60ms
                                    class="hover:bg-hover trans-ease-out cursor-pointer"
                                    mat-row></tr>
                    
                            </table>
                        </div>
                        <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>