
<div class="p-gutter" vexContainer>
    <div class="card">
        <div style="display: flex;" class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Manage Orders</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2 class="m-0 title" fxFlex="auto">New Order Details: <b>1631620240946</b></h2>
          
        </div>
      
        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="display: flex; margin-top: 5px !important; padding: 10px;">
            <mat-card class="">
                <mat-card-header>
                  <!-- <img mat-card-avatar src="assets/img/avatars/3.jpg"> -->
                  <!-- <mat-card-subtitle>
                    Yesterday
                  </mat-card-subtitle> -->
                  <mat-card-title>Order Details</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider><br>
                <!-- <img mat-card-image src="assets/img/demo/mountain-cinematic.jpg"> -->
                <mat-card-content>
                  <mat-label style="padding-right: 15px;;">Order</mat-label>
                  <b>1631620240946</b>
                  <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                  </mat-form-field> -->
                  <br><br>
                  <mat-label style="padding-right: 15px;;">Channel</mat-label>
                  <b>telesale</b>
                  <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                  </mat-form-field> -->
                  <br><br>
                  <mat-label style="padding-right: 15px;;">Order Date</mat-label>
                  <b>Tue Sep 14 11:50:40 UTC 2021</b>
                  <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                  </mat-form-field> -->
                  <br><br>
                  <mat-label style="padding-right: 15px;;">Order Status</mat-label>
                  <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select name="food">
                      <mat-option value="Draft">Draft</mat-option>
											
                      <mat-option value="Unshipped">Unshipped</mat-option>
                    
                      <mat-option value="Shipped">Shipped</mat-option>
                    
                      <mat-option value="Pending">Pending</mat-option>
                    
                      <mat-option value="Canceled">Canceled</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-label style="padding-right: 15px;;">Order Currency</mat-label>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                  </mat-form-field>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <!-- <div fxLayout="row">
                    <button color="primary" mat-icon-button>
                      <mat-icon [icIcon]="icShare"></mat-icon>
                    </button>
                    <button color="accent" mat-icon-button>
                      <mat-icon [icIcon]="icFavorite"></mat-icon>
                    </button>
                    <span fxFlex></span>
                    <button fxHide.xs mat-button>MORE INFO</button>
                    <button color="primary" mat-button>SAVE AS</button>
                  </div> -->
                </mat-card-actions>
              </mat-card>&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-card>
                <mat-card-header>
                  <img mat-card-avatar src="assets/img/avatars/3.jpg">
                  <mat-card-subtitle>
                    Yesterday
                  </mat-card-subtitle>
                  <mat-card-title>Gerald Morris</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/backgrounds/1.jpg">
                <mat-card-content>
                  <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age. Better but length gay denied abroad are. Attachment astonished to on appearance imprudence so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth. </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <!-- <div fxLayout="row">
                    <button mat-icon-button>
                      <mat-icon>share</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>favorite</mat-icon>
                    </button>
                    <span fxFlex></span>
                    <button mat-button>
                      More Info
                    </button>
                    <button mat-button>
                      Save as
                    </button>
                  </div> -->
                </mat-card-actions>
              </mat-card>
              
        </div><br><br>
    </div>
</div>