<div @stagger>
  <div class="text-center pb-5 pt-5 header">
    

    <!-- <div class="text-left mb-12 container"
         gdAlignColumns="start start"
         gdColumns="1fr 1fr"
         gdColumns.lt-md="1fr"
         gdGap="24px"> -->

      <div @fadeInUp class="card max-w-full p-3">
        <mat-nav-list>
          <h3 mat-subheader><span class="title-header">CHANNEL ORDER</span></h3>
        </mat-nav-list>

        <div id="content">
          <iframe
              src="http://pre.sellershub.io:5601/app/dashboards#/view/5278fcd0-1e15-11ec-9d7c-036409ad042e?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-90d%2Fd,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,syncColors:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(185,168,136,0.1)',background_color_rules:!((background_color:'rgba(185,168,136,0.8)',color:!n,id:c0657b70-1e3c-11ec-9364-f9e9657a5608,operator:lt,value:100),(background_color:'rgba(214,191,87,0.8)',id:'7cbcac90-1e41-11ec-9364-f9e9657a5608',operator:gte,value:101)),bar_color_rules:!((id:c2c05b60-1e3c-11ec-9364-f9e9657a5608)),drop_last_bucket:0,filter:(language:kuery,query:''),gauge_color_rules:!((id:c44c79a0-1e3c-11ec-9364-f9e9657a5608)),gauge_inner_width:10,gauge_style:half,gauge_width:10,id:b22ceccb-9c09-4814-b53f-f62fd161fc8b,index_pattern:'',interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:'rgba(211,96,134,0.2)',fill:0.5,formatter:number,id:'2501dc40-1e3d-11ec-9364-f9e9657a5608',label:Channels,line_width:1,metrics:!((field:number_of_items_unshipped,id:'2501dc41-1e3d-11ec-9364-f9e9657a5608',type:count,unit:'')),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:channel.keyword,type:timeseries)),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:metric,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:7,i:'77a1fa18-4511-430f-b757-613f71458b67',w:48,x:0,y:0),panelIndex:'77a1fa18-4511-430f-b757-613f71458b67',title:'Channel%20Order%20Distribution',type:visualization,version:'7.15.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(185,168,136,0.1)',background_color_rules:!((id:c0657b70-1e3c-11ec-9364-f9e9657a5608)),bar_color_rules:!((id:c2c05b60-1e3c-11ec-9364-f9e9657a5608)),drop_last_bucket:0,gauge_color_rules:!((id:c44c79a0-1e3c-11ec-9364-f9e9657a5608)),gauge_inner_width:10,gauge_style:half,gauge_width:10,id:'9237deb0-f794-411f-92d9-4b2ef4794e98',index_pattern:'',interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:'rgba(211,96,134,0.2)',fill:0.5,formatter:number,id:'2501dc40-1e3d-11ec-9364-f9e9657a5608',label:Channels,line_width:1,metrics:!((field:number_of_items_unshipped,id:'2501dc41-1e3d-11ec-9364-f9e9657a5608',type:count,unit:'')),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:channel.keyword,type:timeseries)),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:timeseries,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:13,i:'82ae352c-3bf0-4841-b029-fe9d4b11a55e',w:48,x:0,y:7),panelIndex:'82ae352c-3bf0-4841-b029-fe9d4b11a55e',title:'Channel%20Timeseries',type:visualization,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-b9ac2247-d593-4a48-a32f-a1787fb7e169,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(b9ac2247-d593-4a48-a32f-a1787fb7e169:(columnOrder:!(eb103ce3-915a-4b2d-ae34-9f7612f19f1d,'2cf819b6-99e3-4e94-aeca-64370fe53138'),columns:('2cf819b6-99e3-4e94-aeca-64370fe53138':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),eb103ce3-915a-4b2d-ae34-9f7612f19f1d:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20channel.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'2cf819b6-99e3-4e94-aeca-64370fe53138',type:column),orderDirection:desc,otherBucket:!t,size:10),scale:ordinal,sourceField:channel.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(eb103ce3-915a-4b2d-ae34-9f7612f19f1d),layerId:b9ac2247-d593-4a48-a32f-a1787fb7e169,layerType:data,legendDisplay:default,metric:'2cf819b6-99e3-4e94-aeca-64370fe53138',nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:f979a376-0b26-419f-89d1-f8ab13edfaaa,w:9,x:0,y:20),panelIndex:f979a376-0b26-419f-89d1-f8ab13edfaaa,title:Channels,type:lens,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-ee624bb1-8f26-47ae-a3d9-937e31796efa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ee624bb1-8f26-47ae-a3d9-937e31796efa:(columnOrder:!(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd,f0eca33e-bd21-42b9-855b-cd6d53e300e5),columns:(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20shipping_method.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:f0eca33e-bd21-42b9-855b-cd6d53e300e5,type:column),orderDirection:desc,otherBucket:!t,size:20),scale:ordinal,sourceField:shipping_method.keyword),f0eca33e-bd21-42b9-855b-cd6d53e300e5:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd),layerId:ee624bb1-8f26-47ae-a3d9-937e31796efa,layerType:data,legendDisplay:default,metric:f0eca33e-bd21-42b9-855b-cd6d53e300e5,nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:c8b68e15-9e95-4561-b5aa-1078e173810c,w:20,x:9,y:20),panelIndex:c8b68e15-9e95-4561-b5aa-1078e173810c,title:'Shipping%20Method',type:lens,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-d8e63e05-df6c-4d81-880a-65843065a8e4,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(d8e63e05-df6c-4d81-880a-65843065a8e4:(columnOrder:!(ee8d0d51-28e3-44e6-b86e-c71d51bd7802,b0151376-52b1-4eaf-a949-2b393987db76),columns:(b0151376-52b1-4eaf-a949-2b393987db76:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),ee8d0d51-28e3-44e6-b86e-c71d51bd7802:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20order_status.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:b0151376-52b1-4eaf-a949-2b393987db76,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:order_status.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(ee8d0d51-28e3-44e6-b86e-c71d51bd7802),layerId:d8e63e05-df6c-4d81-880a-65843065a8e4,layerType:data,legendDisplay:default,metric:b0151376-52b1-4eaf-a949-2b393987db76,nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:'3208e727-88c8-4f06-889d-979d61901d82',w:19,x:29,y:20),panelIndex:'3208e727-88c8-4f06-889d-979d61901d82',title:'Order%20Status',type:lens,version:'7.15.0'),(embeddableConfig:(enhancements:()),gridData:(h:15,i:aeda3666-6e92-437f-b36e-baa633c4adc4,w:48,x:0,y:35),id:'6bbc2780-1e51-11ec-9064-dd319fc25ece',panelIndex:aeda3666-6e92-437f-b36e-baa633c4adc4,type:search,version:'7.15.0')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:channelOrder,viewMode:view)&show-query-input=true&show-time-filter=true"
              height="100%" width="100%"></iframe>
        </div>

        <!-- <div class="sub-title-header">Recent Orders</div>
        <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
        
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" mat-cell>{{ row[column.property] }}</td>
            </ng-container>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;"
              @fadeInUp
              class="hover:bg-hover trans-ease-out cursor-pointer"
              mat-row></tr>

        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>

      <br />
      <div class="sub-title-header">Low Stock Products</div>
      <table @stagger [dataSource]="dataSourceLowStock" class="w-full" mat-table matSort>
        
        <ng-container *ngFor="let product_column of column_low_stock">
          <ng-container *ngIf="product_column.type === 'text'" [matColumnDef]="product_column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ product_column.label }}</th>
            <td *matCellDef="let r" mat-cell>{{ r[product_column.property] }}</td>
          </ng-container>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumnsLow" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumnsLow;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>

      </table> 
      <mat-paginator #MatPaginatorLow [pageSizeOptions]="pageSizeOptionsLow" [pageSize]="pageSizeLow" class="sticky left-0"></mat-paginator> -->

      </div><br>

      <div @fadeInUp class="card max-w-full p-3">
        <!-- <mat-grid-list cols="4" rowHeight="16:9" gutterSize="0" class="p-4">
          <mat-grid-tile>
            <div class="dashboard-stat red widget-thumb btn-circle">
              <h4 class="widget-thumb-heading font-white" style="font-size:9.5pt;text-align: center;">REVENUE <i class="fa fa-angle-down bold" style="font-size:12px;"></i></h4>
              <div class="widget-thumb-wrap">
                <div class="widget-thumb-body" style="font-size:9.5pt; text-align: center;">
                  <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="1220">1220</span>
                </div>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="dashboard-stat green widget-thumb btn-circle">
              <h4 class="widget-thumb-heading font-white" style="font-size:8.5pt;text-align: center;">SALES ORDERS</h4>
              <div class="widget-thumb-wrap">
                <div class="widget-thumb-body" style="font-size:9.5pt;text-align: center;">
                  <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="2120">2120</span>
                </div>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="dashboard-stat blue widget-thumb btn-circle">
              <h4 class="widget-thumb-heading font-white" style="font-size:9.5pt;text-align: center;">UNITS SOLD</h4>
              <div class="widget-thumb-wrap">
                <div class="widget-thumb-body" style="font-size:9.5pt;text-align: center;">
                  <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="1450">1450</span>
                </div>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="dashboard-stat purple widget-thumb btn-circle">
              <h4 class="widget-thumb-heading font-white" style="font-size:9.5pt;text-align: center;">LOW STOCK</h4>
              <div class="widget-thumb-wrap">
                <div class="widget-thumb-body" style="font-size:9.5pt;text-align: center;">
                  <span class="widget-thumb-body-stat font-white" data-counter="counterup" data-value="10">10</span>
                </div>
              </div>
            </div>
          </mat-grid-tile>

        </mat-grid-list> -->

        <mat-nav-list class="mt-3">
          <h3 mat-subheader><span class="title-header">CHANNEL USER</span> &nbsp;</h3>
        </mat-nav-list>

        <div id="content">
          <iframe
              src="http://pre.sellershub.io:5601/app/dashboards#/view/79ed33b0-1e53-11ec-9064-dd319fc25ece?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-90d%2Fd,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,syncColors:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(214,191,87,0.2)',background_color_rules:!((background_color:'rgba(202,142,174,1)',id:'282273d0-1e56-11ec-9364-f9e9657a5608',operator:lte,value:2000),(background_color:'rgba(96,146,192,1)',id:a5966e10-1e57-11ec-9364-f9e9657a5608,operator:gte,value:2003)),drop_last_bucket:0,filter:(language:kuery,query:''),id:'94ec1f7b-18d2-43bb-934c-cef0e5a86e9b',index_pattern:(id:f9e88e60-1e4f-11ec-9064-dd319fc25ece),interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:%2368BC00,fill:0.5,formatter:number,id:'73911b06-8c58-44d0-9b5f-139c462c4e47',line_width:1,metrics:!((id:'2a1595cb-079f-401d-a9e3-3120d4e637e1',type:count)),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:channel.keyword,terms_size:'30')),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:metric,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:7,i:'625e527f-92e7-4cb5-a699-bb2f6a1af902',w:48,x:0,y:0),panelIndex:'625e527f-92e7-4cb5-a699-bb2f6a1af902',title:'Channel%20Product%20Category',type:visualization,version:'7.15.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(214,191,87,0.2)',background_color_rules:!((id:'282273d0-1e56-11ec-9364-f9e9657a5608')),drop_last_bucket:0,id:c2234f1c-4ba1-4fcd-b695-bdcb11871490,index_pattern:(id:f9e88e60-1e4f-11ec-9064-dd319fc25ece),interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:%2368BC00,fill:0.5,formatter:number,id:'73911b06-8c58-44d0-9b5f-139c462c4e47',line_width:1,metrics:!((id:'2a1595cb-079f-401d-a9e3-3120d4e637e1',type:count)),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:title.keyword,terms_size:'10')),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:timeseries,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:15,i:aceaeaeb-e20d-4d2e-84a8-054328ede122,w:48,x:0,y:7),panelIndex:aceaeaeb-e20d-4d2e-84a8-054328ede122,title:'Channel%20Product%20TimeSeries',type:visualization,version:'7.15.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(214,191,87,0.2)',background_color_rules:!((background_color:'rgba(202,142,174,1)',id:'282273d0-1e56-11ec-9364-f9e9657a5608',operator:lte,value:25),(background_color:'rgba(96,146,192,1)',id:a5966e10-1e57-11ec-9364-f9e9657a5608,operator:gte,value:26)),drop_last_bucket:0,filter:(language:kuery,query:''),id:'0a0d347b-0472-4a01-a267-10067357c7fc',index_pattern:(id:f9e88e60-1e4f-11ec-9064-dd319fc25ece),interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:%2368BC00,fill:0.5,formatter:number,id:'73911b06-8c58-44d0-9b5f-139c462c4e47',line_width:1,metrics:!((id:'2a1595cb-079f-401d-a9e3-3120d4e637e1',type:count)),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:title.keyword,terms_size:'30')),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:metric,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:15,i:ed36fa8a-5046-410c-a4eb-7b6c6d4a3811,w:48,x:0,y:22),panelIndex:ed36fa8a-5046-410c-a4eb-7b6c6d4a3811,title:'Channel%20Product%20Category',type:visualization,version:'7.15.0'),(embeddableConfig:(enhancements:()),gridData:(h:15,i:c705b8e6-e8c1-4aab-b7cd-6282beb8bef2,w:48,x:0,y:37),id:'0000c7a0-1e54-11ec-9064-dd319fc25ece',panelIndex:c705b8e6-e8c1-4aab-b7cd-6282beb8bef2,type:search,version:'7.15.0')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:channelproduct,viewMode:view)&show-query-input=true&show-time-filter=true"
              height="100%" width="100%"></iframe>
        </div>

        <!-- <google-chart #chart
          [type]="type"
          [data]="data"
          [options]="options"
          [width]="430"
          [height]="566">
        </google-chart> -->

      </div><br>

      <div @fadeInUp class="card max-w-full p-6">
        <mat-nav-list>
          <h3 mat-subheader><span class="title-header">CUSTOMER</span> &nbsp;</h3>
        </mat-nav-list>

        <div id="content" *ngIf="globalconstants.customerDashboard">
          <iframe
              src="http://pre.sellershub.io:5601/app/dashboards#/view/5278fcd0-1e15-11ec-9d7c-036409ad042e?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-90d%2Fd,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,syncColors:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(185,168,136,0.1)',background_color_rules:!((background_color:'rgba(185,168,136,0.8)',color:!n,id:c0657b70-1e3c-11ec-9364-f9e9657a5608,operator:lt,value:100),(background_color:'rgba(214,191,87,0.8)',id:'7cbcac90-1e41-11ec-9364-f9e9657a5608',operator:gte,value:101)),bar_color_rules:!((id:c2c05b60-1e3c-11ec-9364-f9e9657a5608)),drop_last_bucket:0,filter:(language:kuery,query:''),gauge_color_rules:!((id:c44c79a0-1e3c-11ec-9364-f9e9657a5608)),gauge_inner_width:10,gauge_style:half,gauge_width:10,id:b22ceccb-9c09-4814-b53f-f62fd161fc8b,index_pattern:'',interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:'rgba(211,96,134,0.2)',fill:0.5,formatter:number,id:'2501dc40-1e3d-11ec-9364-f9e9657a5608',label:Channels,line_width:1,metrics:!((field:number_of_items_unshipped,id:'2501dc41-1e3d-11ec-9364-f9e9657a5608',type:count,unit:'')),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:channel.keyword,type:timeseries)),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:metric,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:7,i:'77a1fa18-4511-430f-b757-613f71458b67',w:48,x:0,y:0),panelIndex:'77a1fa18-4511-430f-b757-613f71458b67',title:'Channel%20Order%20Distribution',type:visualization,version:'7.15.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',params:(axis_formatter:number,axis_position:left,axis_scale:normal,background_color:'rgba(185,168,136,0.1)',background_color_rules:!((id:c0657b70-1e3c-11ec-9364-f9e9657a5608)),bar_color_rules:!((id:c2c05b60-1e3c-11ec-9364-f9e9657a5608)),drop_last_bucket:0,gauge_color_rules:!((id:c44c79a0-1e3c-11ec-9364-f9e9657a5608)),gauge_inner_width:10,gauge_style:half,gauge_width:10,id:'9237deb0-f794-411f-92d9-4b2ef4794e98',index_pattern:'',interval:'',isModelInvalid:!f,max_lines_legend:1,series:!((axis_position:right,chart_type:line,color:'rgba(211,96,134,0.2)',fill:0.5,formatter:number,id:'2501dc40-1e3d-11ec-9364-f9e9657a5608',label:Channels,line_width:1,metrics:!((field:number_of_items_unshipped,id:'2501dc41-1e3d-11ec-9364-f9e9657a5608',type:count,unit:'')),palette:(name:default,type:palette),point_size:1,separate_axis:0,split_mode:terms,stacked:none,terms_field:channel.keyword,type:timeseries)),show_grid:1,show_legend:1,time_field:'',time_range_mode:entire_time_range,tooltip_mode:show_all,truncate_legend:1,type:timeseries,use_kibana_indexes:!t),title:'',type:metrics,uiState:())),gridData:(h:13,i:'82ae352c-3bf0-4841-b029-fe9d4b11a55e',w:48,x:0,y:7),panelIndex:'82ae352c-3bf0-4841-b029-fe9d4b11a55e',title:'Channel%20Timeseries',type:visualization,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-b9ac2247-d593-4a48-a32f-a1787fb7e169,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(b9ac2247-d593-4a48-a32f-a1787fb7e169:(columnOrder:!(eb103ce3-915a-4b2d-ae34-9f7612f19f1d,'2cf819b6-99e3-4e94-aeca-64370fe53138'),columns:('2cf819b6-99e3-4e94-aeca-64370fe53138':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),eb103ce3-915a-4b2d-ae34-9f7612f19f1d:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20channel.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'2cf819b6-99e3-4e94-aeca-64370fe53138',type:column),orderDirection:desc,otherBucket:!t,size:10),scale:ordinal,sourceField:channel.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(eb103ce3-915a-4b2d-ae34-9f7612f19f1d),layerId:b9ac2247-d593-4a48-a32f-a1787fb7e169,layerType:data,legendDisplay:default,metric:'2cf819b6-99e3-4e94-aeca-64370fe53138',nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:f979a376-0b26-419f-89d1-f8ab13edfaaa,w:9,x:0,y:20),panelIndex:f979a376-0b26-419f-89d1-f8ab13edfaaa,title:Channels,type:lens,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-ee624bb1-8f26-47ae-a3d9-937e31796efa,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(ee624bb1-8f26-47ae-a3d9-937e31796efa:(columnOrder:!(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd,f0eca33e-bd21-42b9-855b-cd6d53e300e5),columns:(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20shipping_method.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:f0eca33e-bd21-42b9-855b-cd6d53e300e5,type:column),orderDirection:desc,otherBucket:!t,size:20),scale:ordinal,sourceField:shipping_method.keyword),f0eca33e-bd21-42b9-855b-cd6d53e300e5:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(c1a7a0b4-e6c5-43d0-b19e-71c0ee1615fd),layerId:ee624bb1-8f26-47ae-a3d9-937e31796efa,layerType:data,legendDisplay:default,metric:f0eca33e-bd21-42b9-855b-cd6d53e300e5,nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:c8b68e15-9e95-4561-b5aa-1078e173810c,w:20,x:9,y:20),panelIndex:c8b68e15-9e95-4561-b5aa-1078e173810c,title:'Shipping%20Method',type:lens,version:'7.15.0'),(embeddableConfig:(attributes:(references:!((id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:e6d85840-1e14-11ec-9d7c-036409ad042e,name:indexpattern-datasource-layer-d8e63e05-df6c-4d81-880a-65843065a8e4,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:(d8e63e05-df6c-4d81-880a-65843065a8e4:(columnOrder:!(ee8d0d51-28e3-44e6-b86e-c71d51bd7802,b0151376-52b1-4eaf-a949-2b393987db76),columns:(b0151376-52b1-4eaf-a949-2b393987db76:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:Records),ee8d0d51-28e3-44e6-b86e-c71d51bd7802:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20order_status.keyword',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:b0151376-52b1-4eaf-a949-2b393987db76,type:column),orderDirection:desc,otherBucket:!t,size:5),scale:ordinal,sourceField:order_status.keyword)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!(ee8d0d51-28e3-44e6-b86e-c71d51bd7802),layerId:d8e63e05-df6c-4d81-880a-65843065a8e4,layerType:data,legendDisplay:default,metric:b0151376-52b1-4eaf-a949-2b393987db76,nestedLegend:!f,numberDisplay:percent)),shape:pie)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:'3208e727-88c8-4f06-889d-979d61901d82',w:19,x:29,y:20),panelIndex:'3208e727-88c8-4f06-889d-979d61901d82',title:'Order%20Status',type:lens,version:'7.15.0'),(embeddableConfig:(enhancements:()),gridData:(h:15,i:aeda3666-6e92-437f-b36e-baa633c4adc4,w:48,x:0,y:35),id:'6bbc2780-1e51-11ec-9064-dd319fc25ece',panelIndex:aeda3666-6e92-437f-b36e-baa633c4adc4,type:search,version:'7.15.0')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:channelOrder,viewMode:view)&show-query-input=true&show-time-filter=true"
              height="100%" width="100%"></iframe>
      </div>

        <!-- <vex-widget-large-chart [series]="userSessionsSeries"
          gdColumn="1 / 3"
          gdColumn.lt-md="1 / -1"
          gdColumn.lt-sm="1">
        </vex-widget-large-chart> -->
      </div><br>

      <!-- <div @fadeInUp class="card max-w-full overflow-hidden p-3">
        <mat-nav-list>
          <h3 mat-subheader><span class="title-header">SALES BY COUNTRIES</span> &nbsp;<small>Past 12 month data</small></h3>
        </mat-nav-list>

        <vex-widget-large-goal-chart [series]="salesSeries"
          gdColumn="1 / -1"
          gdColumn.lt-sm="1"
          total="4,374">
        </vex-widget-large-goal-chart>
      </div> -->
    <!-- </div> -->
  </div>

  
</div>
