.title-header {
    color: #f0702c !important;
    font-weight: bold;
}
.sub-title-header {
    color: #f0702c !important;
    padding-left: 15px !important;
}

.dashboard-stat:last-child {
    margin-bottom: 0;
}
.green {
    background-color: #0c1c44;
}
.widget-thumb {
    padding: 5px;
    border-radius: 0px !important;
    color: #fff !important;
}
.dashboard-stat {
    display: block;
    padding: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    color: #fff !important;
    font-weight: bold;
    border-radius: 0px !important;
}
.btn-circle {
    overflow: hidden;
}

.red {
    background-color: #f0702c;
}
.blue {
    background-color: #f15e33;
}
.font-white {
    color: #fff !important;;
}
.purple {
    background-color: #1d2444;
}