<div class="card">
    <mat-tab-group>
      <mat-tab label="Orders Summary">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Sales Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="MCF Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Shipped Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Returned Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Cancelled Orders">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
      <mat-tab label="Manage Return">
        <!-- <div class="p-6">
          A
        </div> -->
      </mat-tab>
    </mat-tab-group>
  </div>
<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">Order Summary Details</h2>
        </div>
      
        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="margin-top: 5px !important;">
            
            
            <div>
                <div class="table-responsive">
                    <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort>
                        
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <th *matHeaderCellDef mat-header-cell>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            color="primary">
                            </mat-checkbox>
                            </th>
                            <td *matCellDef="let row" class="w-4" mat-cell>
                            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                            (click)="$event.stopPropagation()"
                                            [checked]="selection.isSelected(row)"
                                            color="primary">
                            </mat-checkbox>
                            </td>
                        </ng-container>
                        
                        <ng-container *ngFor="let column of columns">
                            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                            </ng-container>
                        </ng-container>
            
                        <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: visibleColumns;"
                            @fadeInUp stagger60ms
                            class="hover:bg-hover trans-ease-out cursor-pointer"
                            mat-row></tr>
            
                    </table>
                </div>
                <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
            </div>
        </div>
    </div>
</div>