<div class="p-gutter" vexContainer>
    <div class="card">
        <div style="display: flex;justify-content: space-between;" class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
            <div>
                <h2 class="m-0 title" fxFlex="auto">Manage Shipping Rules</h2>
            </div>
            <div class="column">
                <div class="row">
                    <div class='column'>
                        <div class='row'>
                           
                            <button color="secondary" mat-raised-button class="mr-4 font-10">
                                <span><i class="fa fa-plus-circle"></i></span>Add Rule
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-0 px-0" fxLayout="row" fxLayout.lt-md="column" style="margin-top: 5px !important;">
        
        


            <div>
                <div class="table-responsive">
                    <table [dataSource]="dataSource" class="w-full top-30 left-13" mat-table matSort>


                        <ng-container matColumnDef="checkbox">
                            <th *matHeaderCellDef mat-header-cell>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
                                </mat-checkbox>
                            </th>
                            <td *matCellDef="let row" class="w-4" mat-cell>
                                <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container *ngFor="let column of columns">
                            <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                                <td *matCellDef="let row" mat-cell style="width: 20px !important;">{{ row[column.property] }}</td>
                            </ng-container>
                        </ng-container>

                        <ng-container matColumnDef="courier">
                            <th *matHeaderCellDef mat-header-cell>COURIER</th>
                            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
                                <img [src]="row['courier']" class="h-12 w-12 align-middle">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
                            <td *matCellDef="let row" mat-cell>
                              <div >
                                <button class="mr-4 font-10" 
                                    color="primary"
                                    mat-raised-button
                                    type="button"><mat-icon color="text-secondary" [icIcon]="icEdit"></mat-icon>
                                </button>
                                <button class="mr-4 font-10" 
                                    color="primary"
                                    mat-raised-button
                                    type="button"><mat-icon color="text-secondary" [icIcon]="icRemove"></mat-icon>
                                </button>
                              </div>
                            </td>
                        </ng-container>

                        

                        <tr *matHeaderRowDef="visibleColumns sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp stagger60ms class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>

                    </table>
                </div>
                <!-- <mat-paginator appearance="standard" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator> -->
            </div>
        </div>
    </div>
</div>

