<div class="p-gutter" vexContainer>
    <div class="card">
        <div class="border-b py-4 px-6" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="m-0 title" fxFlex="auto">SMTP setting for email communication</h2>
        </div>
      
        <div class="py-5 px-5" fxLayout="row" fxLayout.lt-md="column">
            <table>
                <tr>
                    <td class="td-width-left">
                        <img src="http://localhost:4200/assets/img/illustrations/new_message.svg" style="width: 100%;"/>
                    </td>
                    <td class="td-width-right">
                        <mat-form-field>
                            <mat-label>SMTP Host</mat-label>
                            <input matInput value="smtp.ionos.co.uk">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>SMTP Port</mat-label>
                            <input matInput value="465">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>SMTP Username</mat-label>
                            <input matInput value="shiv@kartzhub.com">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>SMTP Password</mat-label>
                            <input matInput [type]="inputType" value="shiv@kartzhub.com">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>From Email Address</mat-label>
                            <input matInput value="shiv@kartzhub.com">
                            <mat-icon [icIcon]="icMail" matSuffix></mat-icon>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer border-t py-3 px-6">
            <div fxLayout="row" class="float-right" fxLayoutAlign="end right" fxLayoutGap="8px">
              <button color="secondary" mat-raised-button type="button" class="mr-5"> Save</button>
              <button (click)=" openEmaildialogeModel() " color="primary" mat-raised-button type="button" class="mr-5"> Test Connection</button>
              <button color="secondary" mat-raised-button class="mr-5" type="button" > Remove Settings</button>
            </div>
            <br />
            <br />
          </div>
    </div>
</div>